.coloredButton {
  border: 0px #000 solid;
  border-radius: 0.25rem;
  min-height: 2.25rem;
  min-width: 10rem;
  color: white;
  background: #c92a8a;
  font-family: "Roboto";

  &:hover {
    background: rgba(201, 42, 138, 0.7);
  }
}

.transparentButton {
  border: 0px #000 solid;
  border-radius: 0;
  min-height: 2.25rem;
  min-width: 10rem;
  color: white;
  background: transparent;
  font-family: "Roboto";

  &:hover {
    color: gray;
  }
}
